body {
    background-image: url('../Images/regal_z_ksiazkami3.png');
}

/*.card {
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;*/ /* Dodatkowy margines wewnętrzny dla kontenera */
/*}*/

